.App {
  text-align: center;
}

.button {
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.chart {
  margin: auto;
}

.heading {
  margin-top: 5rem;
}

img {
  max-height: 5rem;
}

.info {
  margin-bottom: 5rem;
}

span {
  font-weight: bold;
  text-decoration:underline
}